.home_contaimer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(41deg, rgba(34,193,195,1) 15%, rgba(76,45,253,1) 54%, rgba(176,89,208,1) 81%);
    color:white;
    position: relative;
}
.innercontainer{
    width: 70%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 300px;
    margin-top: 100px;
}
.innercontainer .homecontent{
    width: 70%;
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid #60a5e6; */
}
.content{
    /* border: 1px solid black; */
    width:85%;
}
.content span{
    font-family: 'roboto';
    height: auto;
    /* border: 1px solid black; */
    margin: 0 auto;
    font-size: 126px;
    letter-spacing: -1.15px;
    max-width: 400px;
    font-weight: bolder;
    color: white;
    line-height: 130px;
    word-spacing: 10px;
}
.content p{
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6rem;
    color: #262626;
    text-align: justify;
    word-spacing: 2px;
}
.content ul{
    margin-bottom: 20px;
}
.content ul li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.7rem;
    margin-left: -40px;
   
}
.homebtn{
    width: 300px;
    height: 50px;
    background-color: #f72525;
    padding: 6px 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 2px;
    border-radius: 6px;
    border-color: rgb(230, 233, 243);
}